---
---

@import "{{ site.theme }}";

nav ul {
  display: table;
  width: 100%;
  list-style: none;
}

nav ul li {
  display: table-cell;
  text-align: center;
}

nav ul li a {
  display: block;
}

nav ul li:first-child {
  text-align: left;
}

nav ul li:last-child {
  text-align: right;
}
